<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %><p>

<h1><%=t('all')%></h1> <br>

<form>
  <div>
      <%= search_form_for @q, url: videos_path, remote: true do |f| %>
          <div class="col col-md-6" style="display: inline-block">
            <%= f.search_field :name_cont,  class: "form-control", 
              placeholder: @videos.human_attribute_name("name"),
              title: @videos.human_attribute_name("name") %>
          </div>
          <div class="col col-md-3" style="display: inline-block">
            <%= f.submit t("search"), class: "btn btn-primary" %>
          </div> 
      <% end %>
  </div>
</form> <br><br>

<table class="table table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th><%=@videos.human_attribute_name("name")%></th>
      <th><%=@videos.human_attribute_name("score")%></th>
      <th><%= t("play") %></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><%= video.score %></td>
        <td><%= link_to '', play_video_path(video), class: "fas fa-play-circle fa-2x", title: t("play") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @videos %> <br>
<%= page_entries_info @videos %>




