<div class="topnav">
  <a href=<%=videos_path%>> <%=t("all")%> </a>
  <a href= <%=my_videos_videos_path%> ><%=t("my_videos")%></a>
  <a href="<%= request.path %>?locale=en">
    <span class="flag-icon flag-icon-us"></span>
  </a>
  <a href="<%= request.path %>?locale=pt-BR">
    <span class="flag-icon flag-icon-br"></span>
  </a>
  <div class="topnav-right">
    <%= link_to(t("sign_out"), destroy_user_session_path, method: :delete, title: t("sign_out")) %>
  </div>
</div>